.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  position: relative;
}

.carousel-cell {
  width: 100%;
  height: 600px;
  //margin-right: 10px;
  background-size: cover;

  h2 {
    color: white;
  }
}

.restart {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.map {
  height: 600px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
